<app-header [inicioSesion]="false" [cerrarSesion]="false"></app-header>
<div>
  <form #forma="ngForm" class="form" (ngSubmit)="submit()">
    <h3>Inicio de sesión</h3>
    <label for="email"><b>Correo electrónico</b></label>
    <input
            type="email"
            #email="ngModel"
            [(ngModel)]="loginUser.email"
            placeholder="Introduzca la correo electrónico"
            name="email"
            class="form-control email"
            required
            [ngClass]="{'is-valid': !email.invalid, 'is-invalid': email.invalid}"
            pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          />
          <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors">
              Introduzca un correo electrónico válido por favor {{ email.value }}
            </div>
            <div *ngIf="email.errors && email.errors">
              El correo electrónico no sigue el formato correcto. Sigue este ejemplo: anartz@mugika.com
              {{ email.value }}
            </div>
          </div>
          <label for="psw"><b>Contraseña</b></label>
          <input
            type="password"
            placeholder="Introduzca la contraseña"
            #password="ngModel"
            [(ngModel)]="loginUser.password"
            name="password"
            class="form-control password"
            required
            [ngClass]="{'is-valid': !password.invalid, 'is-invalid': password.invalid}"
          />
          <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors">
              Introduzca una contraseña por favor
            </div>
          </div>
          <div class="row">
            <div class="col-lg">
              <button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
            </div>
          </div>
  </form>
</div>
