.header-content{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  button{
    background-color: grey;
    color: #fff;
    border: none;
  }
}
.logoMercadona{
  width: 30px;
  height: 30px;
}
.border-header-content{
  border-bottom: 3px solid green;
}

.mouse-pointer{
  cursor: pointer;
}
