.card {
  width: 500px;
  height: 200px;
  background: rgb(198, 196, 196);
  margin: 0 auto;
}

.content-card{
padding: 20px;
}

.container-button-card{
  text-align: center;
}

.button-card{
  background-color: green;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
}
