.card {
  width: 500px;
  height: 200px;
  background: rgb(198, 196, 196);
  margin: 0 auto;
}

.content-card{
padding: 20px;
}

.container-button-card{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-card{
  background-color: green;
  color: #fff;
  border: none;
  width: 130px;
  height: 50px;
  border-radius: 5px;
}
.mouse-pointer{
cursor: pointer;
}

.icon-eye{
position: absolute;
color: #fff;
margin-right: 73px;
}
