.content-body-tornillo {
  width: 100%;
}

.icon-configuration {
  text-align: end;
}

.button-add-product {
  text-align: end;
  button {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: #fff;
  }
}
